body {
  padding: 5px;
  /* overflow: hidden; */
  background-color: rgb(210, 240, 210);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.btn {
  margin-bottom: 3px;
}

#messageSelections {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

#messageSelections #notifytype, #messageSelections #ntLabel {
  display: inline-block;
}

#messageSelections {
  flex: 1 1 0%;
  padding: 5px;
}

#messageSelections select {
  margin: 2px 2px;
  padding: 2px 2px;
}

#dispSel {
  flex: 1 1 5%;
  padding: 5px;
}

#dispSel #msgSelDisplay {
  width: 95%;
}

.code {
  background-color: #fff;
  flex: 1 1 auto;
}